
{% extends "base.html" %}
    
    
{% block page_content %}

    <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">Admission</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-right">
            <div class="panel-heading text-center">
<h3>Admission Schedule for<strong>&nbsp;</strong><strong>SUMMER 2019 - 2020</strong></h3>

<h3><strong>&nbsp;​</strong></h3>
</div>

<table class="table" style="width:100%">
	<tbody>
		<tr>
			<td class="text-right" style="text-align: right;"><strong>Admission Test&nbsp; :&nbsp;</strong></td>
			<td>
			<p><strong>Will be announced</strong></p>
			</td>
		</tr>
		<tr>
			<td class="text-right" style="text-align: right;"><strong>Admission Form Collection &amp; Submission</strong><strong> (Up to) :&nbsp;</strong></td>
			<td><strong>Will be announced&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></td>
		</tr>
		<tr>
			<td class="text-right" style="text-align: right;"><strong>Class Start :&nbsp;</strong></td>
			<td><strong>MAY 17, 2020 (SUNDAY)</strong></td>
		</tr>
	</tbody>
</table>

<div class="well" style="
    text-align: center;
"><a href="https://admission.aiub.edu" style="color: #ff0000;font-size: 16px;font-family: &quot;open sans&quot;, arial, sans-serif;font-weight: bold;">Apply Online&nbsp;</a></div>

<div class="panel-footer">
<p><strong>Online Admission Form Fill-up (New Feature)</strong></p>

<p>Weblink: admission.aiub.edu</p>

<p>Step 1: Login (create a new applicant or use already created user name)</p>

<p>Step 2: Fill up all required fields with correct data and upload a recent color photograph</p>

<p>Step 3: Take print outs of the data page and reference number page</p>

<p>Step 4: Bring both print outs to the Information/ Admission office</p>

<p>Step 5: Pay the admission form processing fee</p>

<p>Step 6: Take the admit card for the admission exam</p>
</div>

<div class="text-center">
<h3>Admission Requirement</h3>
</div>

<div class="panel-group" id="Admission">
<div class="panel panel-primary">
<div class="panel-heading">
<h4 class="panel-title">Undergraduate Program</h4>
</div>

<div class="panel-collapse collapse in" id="Undergraduate">
<div class="panel-body">
<p>&nbsp;</p>

<p><strong>1. For EEE/&nbsp;</strong><strong style="color:rgb(20, 24, 35); font-family:open sans,arial,sans-serif; font-weight:700; text-align:justify">IPE/</strong><strong> Architecture/ B.Science (CSE):</strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>A total <strong>GPA of 6.00</strong> with a minimum <strong>GPA of 2.75</strong> in Science background.&nbsp; <strong>Math</strong> must be included at <strong>HSC level</strong>. (<strong>Optional for CIS</strong>).</li>
	<li>Minimum <strong>GPA 2.5</strong> (in both O and A Levels separately) with no grade lower than &lsquo;D&rsquo; among best <strong>5 subjects</strong> in O&#39; level and best <strong>2 subjects</strong> in A&#39; level. <strong>Math</strong> must be included at <strong>A&#39; level (optional for CIS).</strong> (Scale: A=5, B=4, C=3, D=2 &amp; E=1)</li>
	<li>High School Diploma/International Baccalaureate with minimum grade B in Math.</li>
	<li>GED result will not be accepted.</li>
</ol>

<p>&nbsp;</p>

<p><strong>2. For Bachelor of Business Administration (BBA):</strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>A total <strong>GPA of 6.00</strong> with a minimum <strong>GPA of 2.75</strong>.</li>
	<li>Minimum <strong>GPA 2.5</strong> (in both O and A Levels separately) with no grade lower than &lsquo;D&rsquo; among best <strong>5 subjects</strong> in O&#39; level and best <strong>2 subjects</strong> in A&#39; level. (Scale: A = 5, B = 4, C = 3, D = 2 &amp; E= 1)</li>
	<li>High School Diploma/International Baccalaureate with minimum grade B.</li>
	<li>GED result will not be accepted.</li>
</ol>

<p><strong>3. For Arts &amp; Social Science (BA in English or MMC/ BSS in Economics/ LLB ): </strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>A total <strong>GPA of 5.50</strong> with a minimum GPA of <strong>2.75 for Arts and Social Science</strong>;<br />
	A total<strong> GPA of 5.50</strong> with a minimum GPA of <strong>2. 50 for LL.B</strong>.</li>
	<li>Minimum <strong>GPA 2.5</strong> (in both O and A Levels separately) with no grade lower than &lsquo;D&rsquo; among best <strong>5 subjects</strong> in O&#39; level and best <strong>2 subjects</strong> in A&#39; level. (Scale: A = 5, B = 4, C = 3, D = 2 &amp; E= 1)</li>
	<li>High School Diploma/International Baccalaureate with minimum grade C.</li>
	<li>GED result will not be accepted.</li>
</ol>

<p><strong>Required Documents for Form Submission:</strong></p>

<ol>
	<li>Attested Photocopy of all <strong>Board</strong> <strong>Mark Sheets</strong> and <strong>Testimonials / Certificates</strong>.</li>
	<li><strong>Three copies of Recent Colored &amp; Clear Passport Sized Photographs.</strong></li>
	<li>For O&rsquo;Level &amp;A&rsquo;Level Students, Attested Photocopy of Certificates/Hard copies (with cash in code).</li>
	<li><strong>A&rsquo; level candidates who will appear on November 2019 are required to submit photocopy of Statement of Entry and original hard copy/Mark sheets of their A&rsquo;s level Exam(with cash in code).</strong></li>
	<li><strong>Applicants in Freedom Fighter category&nbsp; are requested &nbsp;to submit </strong><strong>attested photocopy</strong> &nbsp;of &nbsp;<strong>(i)</strong> &ldquo;Provisional Certificate&rdquo; from Ministry of Liberation war affairs. <strong>(ii)</strong> Mukti Barta/Indian List/PM signed Certificate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>(iii)</strong> Gazette &nbsp;<strong>(iv)</strong> &ldquo;National ID&rdquo; of the freedom fighter &amp; Birth Certificate / Death Certificate of the Freedom Fighter. <strong>(vi)</strong> Attested Internet Information of FF.</li>
</ol>

<p align="center"><strong>***Selected applicants in FF quota are requested to bring all these original papers during their admission.</strong></p>

<p>&nbsp;</p>

<p><strong><em>Written Exam Waiver Conditions (will be called for viva interview):</em></strong></p>

<ul>
	<li><em>Minimum score of 1650 in SAT for undergraduate program out of 2400</em></li>
	<li><em>Minimum score of 1106 in SAT for undergraduate program out of 1600</em></li>
</ul>
</div>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">
<h4 class="panel-title">Graduate Program</h4>
</div>

<div class="panel-collapse collapse in" id="Graduate">
<div class="panel-body">
<p><strong>1. Requirements For Regular MBA /MDS/ MsCS / M.TEL/ MEEE:</strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>Minimum 3 Years of Bachelor Degree completion is required.</li>
	<li>Minimum 2<sup>nd</sup> division in SSC, HSC &amp; Graduation from any of the disciplines or minimum <strong>GPA 2.5</strong> in <strong>HSC &amp; SSC</strong> (in the scale of 5) and minimum <strong>CGPA 2.5 in Bachelor Degree</strong> (in the scale of 4).</li>
	<li>For <strong>A Level &amp; O Level</strong> Background, Minimum <strong>GPA 2.5</strong> (in both O &amp; A Levels separately) with no grade lower than&lsquo;D&rsquo;among best <strong>5 subjects</strong> in O&#39;level and best <strong>2 subjects</strong> in A&#39; level.(Scale:A=5,B=4,C=3,D=2 &amp;E=1)</li>
</ol>

<p>&nbsp;</p>

<ul>
	<li><strong>Additional Requirements for MsCS:</strong></li>
</ul>

<p style="margin-left:.5in;">4 Years Graduation degrees is required in CS, CSE, CIS,SE, CSSE, EEE, COE, ECE, MIS, Electronics, Mathematics, Physics, or in any other science or Technical disciplines (To be decided by Prog. Director)</p>

<p>&nbsp;</p>

<ul>
	<li><strong>Additional Requirements for MTEL/ MEEE:</strong></li>
</ul>

<p style="margin-left:.5in;">4 Years Graduation degrees is required in EEE, COE, ECE, ETE, CS, CSE, CIS, SE, CSSE, App. Physics &amp; Electronics, ICT, ICE, APEE, APECE or in any other science or Technical disciplines (decided by Prog.Director)</p>

<p><strong>2. Requirements For EMBA:</strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>Graduation in any dicipline with minimum 2<sup>nd</sup> Division.</li>
	<li>At least 3 years working experience with current permanent job (case to case basis) in an office.</li>
</ol>

<p><strong>3. Requirements For MDS:</strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>&nbsp;Graduation in any &nbsp;discipline with Minimum CGPA 2.75 or 2<sup>nd</sup> class is required in Bachelor Degree.</li>
</ol>

<p><strong>4. Requirements For MPH:</strong></p>

<ol style="list-style-type:lower-alpha;">
	<li>Graduation in any discipline of Health Science.</li>
	<li>Graduation in any discipline with work experience in Health Care Organization.</li>
	<li>Posses an M.B.B.S., B.D.S., M.D. or a 3-4 years Bachelor degree or any other equivalent degree.</li>
	<li>No 3<sup>rd</sup> division (Exception may be made for candidates with substantial amount of experience).</li>
</ol>

<p><strong>Required Documents for Form Submission:</strong></p>

<ol>
	<li>Attested Photocopy of all <strong>Board Mark Sheets</strong> and <strong>Testimonials / Certificates.</strong></li>
	<li style="box-sizing:border-box"><strong>Graduation&rsquo;s Transcripts &amp; Provisional Certificate Should Be Officially Issued. Student Copy is not Allowed</strong></li>
	<li><strong>Three Copies of Recent Colored &amp; Clear Passport Sized Photographs.</strong></li>
	<li><strong>Job Certificates</strong> for <strong>EMBA</strong> applicant.</li>
	<li>For <strong>Appeared student</strong> (Only for <strong>National University</strong>) attested copy of <strong>Appeared Certificate &amp; Previous 3 Years&rsquo; Results</strong></li>
	<li><strong>Applicants in Freedom Fighter category are requested &nbsp;to submit </strong><strong>attested photocopy</strong> &nbsp;of &nbsp;<strong>(i)</strong> &ldquo;Provisional Certificate&rdquo; from Ministry of Liberation war affairs. <strong>(ii)</strong> Mukti Barta/Indian List/PM signed Certificate&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<strong>(iii)</strong> Gazette &nbsp;<strong>(iv)</strong> &ldquo;National ID&rdquo; of the freedom fighter &amp; Birth Certificate / Death Certificate of the Freedom Fighter. <strong>(v)</strong> Attested Internet Information of FF.</li>
</ol>

<p align="center"><strong>***Selected applicants in FF quota are requested to bring all these original papers during their admission.</strong></p>

<p>&nbsp;</p>

<p><strong><em>Written Exam Waiver Conditions (will be called for viva interview):</em></strong></p>

<ul>
	<li><strong><em>AIUB Graduates</em></strong><em> with a CGPA of 3.0&nbsp;or above in their Bachelors&rsquo; Degree</em></li>
	<li><em>Minimum score of 550 in GMAT/ GRE for graduate program</em></li>
	<li><strong><em>3 years of work experience in Supervisory level for MBA, VIVA only</em></strong></li>
	<li><strong><em>3 years work experience for EMBA program, VIVA only</em></strong></li>
</ul>

<p style="margin-left:.75in;">&nbsp;</p>
</div>
</div>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-footer">
<p class="text-center"><span style="color:#ff0000"><strong>Admission Procedure for International Applicants </strong>(<a href="/admission/admission-procedure-for-international-applicants">Click here</a>)</span></p>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title text-center">Application Form Price: BDT 1000.00 (Taka)</h3>
</div>
</div>

<div class="panel-body">
<p class="text-center">During office hours, Admission Forms are available at the Admission/ Information office, 408/1, Kuratoli, Khilkhet, Dhaka 1229, Bangladesh. +880 18 4411 5000,+88 02 989 4229, +88 02 989 7387, +88 02 588 15387 (Ext. 100,199)</p>

<p class="text-center">Admission Forms are also available during evening hours (2 PM &ndash; 8 PM) at the MBA Program Office, 408/1, Kuratoli, Khilkhet, Dhaka 1229, Bangladesh. +880 18 4411 5010, +88 02 841 4046-9, (Ext. 201)</p>

<p class="text-center">&nbsp;</p>
</div>

<div class="panel-footer">
<p class="text-center" style="color: #ff0000"><strong>Download Admission Form (<a href="/static/pdf/aiub_admission.pdf">PDF Format&nbsp;</a>)&nbsp;</strong></p>

<p class="alert alert-danger text-center">(In case of downloaded form, Form should be Color Printed &amp; the Admission Form Processing Fee of Tk. 1000/= will be charged at the time of Form Submission)</p>
</div>

<p>&nbsp;</p>

<table class="table" style="width:787px">
	<tbody>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=admission&text=AIUB-Admission" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=admission" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=admission" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=admission&title=Admission&source=admission" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=admission&media=&description=Admission" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=Admission-AIUB&amp;body=Check out this admission" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>

{% endblock %}