
{% extends "base.html" %}
    
    
{% block page_content %}

  <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                        <li><a href="academics" rel="category tag">Academics</a></li>
                        <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">Academic Calendar</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-right">
            <h1 style="text-align: center;"><span style="font-size:24px"><strong>Spring 2019-20</strong></span></h1>

<p style="text-align: center;"><strong>&nbsp;(Updated on 13 January 2020)</strong></p>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="2" style="width:169px;">
			<p style="text-align: center;"><strong>2020</strong></p>
			</td>
			<td style="width:399px;">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="6" style="width:61px;">
			<p>Jan</p>
			</td>
			<td style="width:108px;">
			<p align="center">20 (Monday)</p>
			</td>
			<td style="width:399px;">
			<p align="center">Freshmen Students&rsquo; orientation</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">21 (Tuesday)</p>
			</td>
			<td style="width:399px;">
			<p align="center">First day of regular classes</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">26</p>
			</td>
			<td style="width:399px;">
			<p align="center">19th Convocation</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">23 &amp; 26</p>
			</td>
			<td style="width:399px;">
			<p align="center">Adding/ Dropping</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">26</p>
			</td>
			<td style="width:399px;">
			<p align="center">Submission of TSF and course description</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">28</p>
			</td>
			<td style="width:399px;">
			<p align="center">Automatic conversion of UW, I, blank grades of Last Semester to F</p>
			</td>
		</tr>
		<tr>
			<td rowspan="5" style="width:61px;">
			<p>Feb</p>
			</td>
			<td style="width:108px;">
			<p align="center">6 (Thursday)</p>
			</td>
			<td style="width:399px;">
			<p align="center">Makeup of Sunday Class</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">13 (Thursday)</p>
			</td>
			<td style="width:399px;">
			<p align="center">Makeup of Monday Class</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">20</p>
			</td>
			<td style="width:399px;">
			<p align="center">Submission of midterm exam manuscripts</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">23 &ndash; 27</p>
			</td>
			<td style="width:399px;">
			<p align="center">Laboratory midterm exams</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">29 &ndash; Mar 5</p>
			</td>
			<td style="width:399px;">
			<p align="center">Midterm Exam</p>
			</td>
		</tr>
		<tr>
			<td rowspan="4" style="width:61px;">
			<p>Mar</p>
			</td>
			<td style="width:108px;">
			<p align="center">12</p>
			</td>
			<td style="width:399px;">
			<p align="center">Submission of midterm grades</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">15 &ndash; 19</p>
			</td>
			<td style="width:399px;">
			<p align="center">TPE</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">19</p>
			</td>
			<td style="width:399px;">
			<p align="center">Midterm Grades Locked</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">22 &ndash; 26</p>
			</td>
			<td style="width:399px;">
			<p align="center">Pre-registration for Summer 2019-20 Semester</p>
			</td>
		</tr>
		<tr>
			<td rowspan="4" style="width:61px;">
			<p>Apr</p>
			</td>
			<td style="width:108px;">
			<p align="center">9</p>
			</td>
			<td style="width:399px;">
			<p align="center">Submission of final exam manuscripts</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">12 &ndash; 16</p>
			</td>
			<td style="width:399px;">
			<p align="center">Laboratory Final exams</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">18 &ndash; 23</p>
			</td>
			<td style="width:399px;">
			<p align="center">Final Exam</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">30</p>
			</td>
			<td style="width:399px;">
			<p align="center">Submission of Final Grades</p>
			</td>
		</tr>
		<tr>
			<td rowspan="3" style="width:61px;">
			<p>May</p>
			</td>
			<td style="width:108px;">
			<p align="center">7</p>
			</td>
			<td style="width:399px;">
			<p align="center">Final Grades Locked</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">Apr 24 -May16</p>
			</td>
			<td style="width:399px;">
			<p align="center">Semester break</p>

			<p align="center">Release of grades</p>

			<p align="center">Registration for Summer 2019-20</p>
			</td>
		</tr>
		<tr>
			<td style="width:108px;">
			<p align="center">May 30</p>
			</td>
			<td style="width:399px;">
			<p align="center">Automatic conversion of UW, I grades of this semester to F</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p style="text-align: center;">AIUB reserves the right to change the academic calendar.</p>

<p style="text-align: center;">&nbsp;</p>

            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=academics/calendar&text=AIUB-Academic Calendar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=academics/calendar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=academics/calendar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=academics/calendar&title=Academic Calendar&source=academics/calendar" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=academics/calendar&media=&description=Academic Calendar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=Academic Calendar-AIUB&amp;body=Check out this academics/calendar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>

{% endblock %}