{% extends "base.html" %}
    
    
{% block page_content %}

   <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">Contact Us</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-right">
            <div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="Campus-Map"><iframe frameborder="0" height="300" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/d/embed?mid=1nJsEalbuMGRZOHcA9YGFBxaidjg" width="100%"></iframe></div>
</div>

<p>&nbsp;</p>

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="Admin">
<div class="panel panel-primary">
<div class="panel-heading">
<h4><a name="OLE_LINK108"></a><strong>Contact Us</strong></h4>
</div>

<div class="panel-body">
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:332px;">
			<p>Address:</p>
			</td>
			<td style="width:332px;">
			<p>408/1, Kuratoli, Khilkhet, Dhaka 1229, Bangladesh</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Telephone:</p>
			</td>
			<td style="width:332px;">
			<p>+88 02 841 4046-9; +88 02 841 4050</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Fax:</p>
			</td>
			<td style="width:332px;">
			<p>+88 02 841 2255</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Email:</p>
			</td>
			<td style="width:332px;">
			<p>info@aiub.edu</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Web:</p>
			</td>
			<td style="width:332px;">
			<p>www.aiub.edu</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Facebook:</p>
			</td>
			<td style="width:332px;">
			<p>www.facebook.com/aiub.edu</p>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="Admission">
<div class="panel panel-default">
<div class="panel-heading">
<h4>Admission Information</h4>
</div>

<div class="panel-body">
<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:332px;">
			<p>Mobile:</p>
			</td>
			<td style="width:332px;">
			<p>+880 18 4411 5000</p>

			<p>+880 18 8656 6666</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Telephone:</p>
			</td>
			<td style="width:332px;">
			<p>+88 02 841 4046-9;</p>

			<p>+88 02 841 4050;</p>

			<p>Ext.: 201, 202</p>
			</td>
		</tr>
		<tr>
			<td style="width:332px;">
			<p>Graduate Programs</p>

			<p>[12pm to 8pm]:</p>
			</td>
			<td style="width:332px;">
			<p>+880 18 4411 5010</p>

			<p>+88 02 841 4046-9</p>

			<p>Ext. 332</p>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<p>&nbsp;</p>
<!--
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="Campus-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4><span>INSTITUTIONAL QUALITY ASSURANCE CELL</span></h4>
            </div>

            <div class="panel-body">House 94, Road 4, Kemal Ataturk Avenue Banani, Dhaka 1213, Bangladesh</div>

            <div class="panel-body">
                <p>+88-02-9894229,+88-02-9897387,+88-02-58815357</p>
            </div>
        </div>
    </div>
    --></div>

<div class="row">
<div class="panel panel-info">
<div class="panel-heading text-center">
<h3><strong>Hotlines</strong></h3>
</div>

<table class="table" style="width:100%">
	<tbody>
		<tr>
			<td class="text-left">
			<table border="1" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td>
						<p>Admission Office:</p>
						</td>
						<td>
						<p>+88 018 4451 5900</p>
						</td>
					</tr>
					<tr>
						<td>
						<p>Faculty of Arts and Social Sciences:</p>
						</td>
						<td>
						<p>+88 018 4411 5001</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Faculty of Business Administration:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 4411 5002</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Faculty of Engineering:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 4411 5003</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Faculty of Science and Information Technology:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 4411 5004</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Masters<a name="_GoBack"></a> in Public Health:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 4411 5009</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Registration Department:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 44 11 5005</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Accounts and Audit:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 44 11 5006</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Office of Placement:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 44 11 5007</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Office of Probation:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 44 11 5008</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Office of Public Relations:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 47 20 0003</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Office of Student Affairs:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 47 23 9999</p>
						</td>
					</tr>
					<tr>
						<td style="width:326px;">
						<p>Office of Records/ Office of Guidance Counselors:</p>
						</td>
						<td style="width:324px;">
						<p>+88 018 44 51 5901</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>

<p class="x_MsoNormal">&nbsp;</p>

<p style="text-align: center;"><span style="font-size:20px">Contact Email Addresses of the Faculties:</span></p>

<p>&nbsp;</p>

<p><u><strong>Faculty of Arts and Social Sciences (FASS):</strong></u></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Dean: Prof. Dr. Tazul Islam, Email:&nbsp;<span style="color:rgb(0, 0, 205)"><strong>tislam@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Department of English:</strong></p>

<p style="margin-left: 0.5in;">Mr. Hamidul Haque, Email:&nbsp;<span style="color:rgb(0, 0, 205)"><strong>hamidhaq@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Department of Economics, MMC and Laws:</strong></p>

<p style="margin-left: 0.5in;">Dr. Rahmatullah, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>rahmatullah@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Department of MPH:</strong></p>

<p style="margin-left: 0.5in;">Ms. Monidipa Saha, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>monidipa@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Department MDS:</strong></p>

<p style="margin-left: 0.5in;">Dr. Rahmatullah, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>rahmatullah@aiub.edu</strong></span></p>

<p>&nbsp;</p>

<p><u><strong>Faculty of Business Administration (FBA):</strong></u></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Dean: Prof. Dr. Charles C. Villanueva, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>charlesvill@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Program Directors:</strong></p>

<p style="margin-left: 0.5in;">BBA: Ms. Farheen Hassan, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>farheen@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">MBA/ EMBA: Dr. Nisar Ahmed, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>nisarsn@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">&nbsp;</p>

<p><u><strong>Faculty of Engineering:</strong></u></p>

<p style="margin-left: 0.5in;">Dean: Prof. Dr. Siddique Hossain, Email:<span style="color:rgb(0, 0, 255)"><strong>&nbsp;siddique@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">Associate Dean: Prof. Dr. Abdur Rahman, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>arahman@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Program Directors:</strong></p>

<p style="margin-left: 0.5in;">Prof. Dr. Md. Abdul Mannan, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>mdmannan@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">Dr. Mohammad Nasir Uddin, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>drnasir@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Head of the Departments:</strong></p>

<p style="margin-left: 0.5in;">Mr. Nafiz Ahmed Chisty, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>chisty@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">Mr. Saniat Rahman Zishan, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>saniat@aiub.edu</strong></span></p>

<p>&nbsp;</p>

<p><u><strong>Faculty of Science and Technology (FST):</strong></u></p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Dean: Prof. Dr. Tafazzal Hossain, Email:<span style="color:rgb(0, 0, 255)"><strong>&nbsp;thossain@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">Associate Dean: Mr. Mashiour Rahman, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>mashiour@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Program Director:</strong></p>

<p style="margin-left: 0.5in;">Dr. Dip Nandi, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>dip.nandi@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;"><strong>Head of the Departments:</strong></p>

<p style="margin-left: 0.5in;">Dr. M. M. Mahbubul Syeed, Email:&nbsp;<span style="color:rgb(0, 0, 255)"><strong>mahbubul.syeed@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">Dr. Tabin Hasan, Email:<span style="color:rgb(0, 0, 255)"><strong>&nbsp;tabin@aiub.edu</strong></span></p>

<p style="margin-left: 0.5in;">&nbsp;</p>



            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=contact&text=AIUB-Contact Us" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=contact" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=contact" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=contact&title=Contact Us&source=contact" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=contact&media=&description=Contact Us" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=Contact Us-AIUB&amp;body=Check out this contact" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>

{% endblock %}