{% extends "base.html" %}
    
    
{% block page_content %}

 <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                        <li><a href="about" rel="category tag">About Us</a></li>
                        <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">General Information</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-right">
            <div class="panel panel-default">
<div class="panel-body">
<div class="text-center">
<h3>Degrees Offered at Present</h3>
</div>

<div>
<p>&nbsp;</p>

<p><strong>AIUB currently operates under four distinct Faculties:</strong></p>

<ul>
	<li class="fass-color">Faculty of Arts and Social Sciences (<strong>FASS</strong>)</li>
	<li class="bba-color">Faculty of Business Administration (<strong>FBA</strong>)</li>
	<li class="eee-color">Faculty of Engineering (<strong>FE</strong>)</li>
	<li class="cs-color">Faculty of Science And Technology (<strong>FST</strong>)</li>
</ul>

<h4 class="fass-color">&nbsp;</h4>

<h4 class="fass-color">Faculty of Arts and Social Sciences (FASS)</h4>
<strong>Undergraduate Programs:</strong>

<ul>
	<li>Bachelor of Arts <strong>(BA)</strong> in Media and Mass Communication</li>
	<li>Bachelor of Arts&nbsp;<strong>(BA)</strong>&nbsp;in English</li>
	<li>Bachelor of Law&nbsp;<strong>(LLB)</strong></li>
	<li>Bachelor of Social Science<strong> (BSS)</strong> in&nbsp;Economics</li>
</ul>
<strong>Graduate Programs:</strong>

<ul>
	<li>Masters in Development Studies<strong> (MDS)</strong></li>
	<li>Masters in Public Health <strong>(MPH)</strong></li>
</ul>

<h4 class="bba-color">&nbsp;</h4>

<h4 class="bba-color">Faculty of Business Administration (FBA)</h4>

<p><strong>Undergraduate Program:&nbsp;</strong></p>

<ul>
	<li>Bachelor of Business Administration <strong>(BBA)</strong> Major in-

	<ul>
		<li>Accounting</li>
		<li>Economics</li>
		<li>Finance</li>
		<li>Human Resource Management <strong>(HRM)</strong></li>
		<li>International Business <strong>(IB)</strong></li>
		<li>Investment Management <strong>(IM)</strong></li>
		<li>Management</li>
		<li>Management Information Systems <strong>(MIS)</strong></li>
		<li>Marketing</li>
		<li>Operations and Supply Chain Management <strong>(OSCM)</strong></li>
		<li>Tourism and Hospitality Management <strong>(THM)</strong></li>
	</ul>
	</li>
</ul>

<p><strong>Graduate Program:&nbsp;</strong></p>

<ul>
	<li>Master of Business Administration (MBA) Major in-
	<ul>
		<li>Accounting</li>
		<li>Agribusiness</li>
		<li>Business Economics</li>
		<li>Finance</li>
		<li>Human Resource Management <strong>(HRM)</strong></li>
		<li>Management</li>
		<li>Management Information Systems <strong>(MIS)</strong></li>
		<li>Marketing</li>
		<li>Operations and Supply Chain Management<strong> (OSCM)</strong></li>
		<li>Tourism and Hospitality Management <strong>(THM)</strong></li>
		<li>Executive Master of Business Administration&nbsp;<strong>(EMBA)</strong></li>
	</ul>
	</li>
</ul>

<h4 class="eee-color">&nbsp;</h4>

<h4 class="eee-color">Faculty of Engineering (FE)</h4>

<p><strong>Undergraduate Programs:</strong></p>

<ul>
	<li>Bachelor of Architecture<strong> (BArch)</strong></li>
	<li>Bachelor of Science (BSc) in Electrical and Electronic Engineering <strong>(EEE)</strong></li>
	<li>Bachelor of Science (BSc) in Industrial and Production Engineering <strong>(IPE)</strong></li>
</ul>

<p><strong>Graduate Programs:</strong></p>

<ul>
	<li>Master of Engineering in Electrical and Electronic Engineering <strong>(MEEE)</strong></li>
	<li>Master of Engineering in Telecommunications Engineering <strong>(MTEL)</strong></li>
</ul>

<h4 class="cs-color">&nbsp;</h4>

<h4 class="cs-color">Faculty of Science and Technology (FST)</h4>

<p><strong>Undergraduate Program:</strong></p>

<ul>
	<li>Bachelor of Science <strong>(BSc) </strong>in Computer Science and Engineering <strong>(CSE)</strong></li>
</ul>

<p><strong>Graduate Program:</strong></p>

<ul>
	<li>Master of Science in Computer Science<strong> (MSCS)</strong></li>
</ul>
</div>

<div class="text-center">
<h3>&nbsp;</h3>
</div>

<div>
<h4 class="fass-color">&nbsp;</h4>

<h4 class="bba-color">&nbsp;</h4>
</div>

<h4>Degree conferred</h4>

<div id="convocationGraph" style="height: 350px; width: 100%;">&nbsp;</div>

<h4>Organization</h4>
The academic supervision and control of the University is the responsibility of the Vice Chancellor. The Vice Chancellor is assisted by the Academic Council and an Advisory Committee of which the Vice Chancellor is the Chairperson. All matters concerning admission, candidacy and comprehensive examinations or modifications of programs, academic issues and concerns are submitted in writing to the Office of the Vice Chancellor for approval. Decisions of the Vice Chancellor are final.

<h4>Location</h4>
The office is open daily from 9 a.m. to 5 p.m. Sunday through Thursday. Address of the Vice Chancellor&rsquo;s Office

<address><strong>Dr. Carmen Z. Lamagna</strong>,<em>Vice-Chancellor</em><br />
American International University - Bangladesh<br />
408/1, Kuratoli, Khilkhet, Dhaka 1229, Bangladesh<br />
<abbr title="Telephone">T:</abbr> +8802-8811749/9885907/9894229<br />
<abbr title="Fax">F:</abbr> +8802-8813233<br />
<abbr title="Email">E:</abbr> <a href="mailto:clamagna@aiub.edu">clamagna@aiub.edu</a><br />
<abbr title="Web">W:</abbr><a href="http://www.aiub.edu">www.aiub.edu</a></address>

<div class="text-center">
<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-size:20px"><strong>Academic Council</strong></span></p>

<p style="text-align: center;"><span style="font-size:16px">[As of 1 February 2020]</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>Chairperson:</strong></span></p>

<p><span style="font-size:14px">Dr. Carmen Z. Lamagna, Vice Chancellor</span></p>

<p><strong>Members:</strong></p>

<p>Prof. Dr. Tafazzal Hossain, Pro Vice Chancellor; Dean in Charge, Faculty of Science and Technology</p>

<p>Prof. Dr. Charles C. Villanueva, Vice President, Academics; Dean, Faculty of Business Administration</p>

<p>Prof. Dr. Tazul Islam, Dean, Faculty of Arts and Social Sciences</p>

<p>Prof. Dr. A B M Siddique Hossain, Dean, Faculty of Engineering</p>

<p>Prof. Dr. Md. Abdur Rahman, Associate Dean, Faculty of Engineering</p>

<p>Mr. Mashiour Rahman, Associate Dean, Faculty of Science and Faculty of Science and Technology</p>

<p>Prof. Dr. Nisar Ahmed, Director, MBA Program, Faculty of Business Administration</p>

<p>Ms. Farheen Hassan, Director, BBA Program, Faculty of Business Administration</p>

<p>Prof. Dr. A. N. Neaz Ahmed, Advisor, MPH Program, Faculty of Arts and Social Sciences</p>

<p>Prof. Neaz Ahmed, Faculty of Business Administration</p>

<p>Prof. M. A. Quaiyum, Faculty of Engineering</p>

<p>Prof. Dr. Md. Jashim Uddin, Head, Department of Mathematics, Faculty of Science and Technology</p>

<p>Prof. Dr. Taslima Monsoor, Advisor, Department of Law, Faculty of Arts and Social Sciences</p>

<p>Mr. M Hamidul Haque, Head, Department of English, Faculty of Arts and Social Sciences</p>

<p>Dr. Dip Nandi, Director, Undergraduate Program, Faculty of Science and Technology</p>

<p>&nbsp;</p>

<p><strong>Board of Trustees&rsquo; Nominee:</strong></p>

<p>Ms. Nadia Anwar, Chairman, Board of Trustees</p>

<p>Dr. Hasanul A Hasan, Founder Member, Board of Trustees</p>

<p>Mr. Ishtiaque Abedin, Founder Member, Board of Trustees</p>

<p>&nbsp;</p>

<p><strong>Syndicate&rsquo;s Nominees:</strong></p>

<p>Prof. Dr. M. A. Mannan, Head of Undergraduate Program, Faculty of Engineering</p>

<p>Mr. Manzur H. Khan, Faculty of Science and Technology</p>

<p>&nbsp;</p>

<p><strong>Member-Secretary:</strong></p>

<p>Mr. Pius Costa, Registrar</p>

<p>&nbsp;</p>

<p><strong>Secretary to the Chairperson:</strong></p>

<p>Mr. Ziarat H. Khan, Deputy Director, Student Service and Welfare</p>
</div>

<h4>&nbsp;</h4>

<p style="text-align: center;"><span style="font-size:22px"><strong>Syndicate Members </strong></span></p>

<p style="text-align: center;"><span style="font-size:14px">(As of October 2018)</span></p>

<p><span style="font-size:14px"><strong>Chairperson:</strong></span></p>

<p><span style="font-size:14px">Dr. Carmen Z. Lamagna</span><br />
&nbsp;</p>

<p><span style="font-size:14px"><strong>Members:</strong></span></p>

<p>Dr. Hasanul A. Hasan<br />
Member</p>

<p>Mr. Ishtiaque Abedin<br />
Member</p>

<p>Mrs. Nadia Anwar<br />
Member</p>

<p>Prof. Dr. M Wahiduzzaman&nbsp;<br />
Member</p>

<p>Prof. Dr. Md. Rafique Ullah<br />
Member</p>

<p>Prof. Dr. Tafazzal Hossain<br />
Member</p>

<p>Prof. Dr. Charles C. Villanueva<br />
Member</p>

<p>Prof. Dr. Tazul Islam<br />
Member</p>

<p>Mr. Manzur H. Khan<br />
Member</p>

<p>Mr. Pius Costa<br />
Member Secretary</p>
</div>
</div>
<script type="text/javascript">
       window.onload = function () {
            var chart = new CanvasJS.Chart("convocationGraph", {
            zoomEnabled: true,
            //theme: "theme2",//theme1
            title: {
                //text: "AIUB Convocation 2001-2015",
                fontColor: "#fff",
                fontSize: 18,
                padding: 5,
                margin: 10,
                backgroundColor: "#004EA8",
                borderThickness: 1,
                borderColor: "#fff",
                cornerRadius: 3,
                verticalAlign: "top",
                horizontalAlign: "center"
            },

            toolTip: {
                enabled: true,  //disable here
                animationEnabled: true //disable here
            },
            axisX: {
                labelFontSize: 12,
                labelFontColor: "#363636",
                title: "Convocation",
                titleFontColor: "steelBlue", //#004EA8
                titleFontSize: 18,
                tickLength: 7,
                tickColor: "#004EA8",
                tickThickness: 2
            },
            axisY: {
                labelFontSize: 12,
                labelFontColor: "#999",
                title: "Graduates",
                titleFontColor: "steelBlue", //#004EA8
                titleFontSize: 18,
                interlacedColor: "#f5f5f5",
                tickLength: 5,
                tickColor: "#004EA8",
                tickThickness: 2,
                gridColor: "#fff",
                gridThickness: 2,
                interval: 500
            },
            legend: {
                horizontalAlign: "right",
                verticalAlign: "top",
                fontSize: 14

            },
            data: [{
                click: function (e) {
                    alert("American International University-Bangladesh (AIUB) Convocation: " + e.dataPoint.x + " Graduates: " + e.dataPoint.y);
                },
                type: "column",
                showInLegend: true,
                legendMarkerType: "none",
                legendText: "Total Graduates: 29313",
                indexLabel: "{y}",
                valueFormatString: "##",
                indexLabelFontSize: 10,
                indexLabelFontFamily: "Lucida Console",
                indexLabelFontColor: "#004EA8",
                indexLabelPlacement: "outside", //inside, outside
                indexLabelOrientation: "vertical", //vertical, horizontal
                toolTipContent: "<a href = {name}> {label} Convocation</a><br/>Graduates: {y}",
                dataPoints: [
                { label: "1st", y: 43, indexLabel: "43", name: "/convocation/1st-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "2nd", y: 138, indexLabel: "138", name: "/convocation/2nd-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "3rd", y: 140, indexLabel: "140", name: "/convocation/3rd-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "4th", y: 246, indexLabel: "246", name: "/convocation/4th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "5th", y: 342, indexLabel: "342", name: "/convocation/5th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "6th", y: 598, indexLabel: "598", name: "/convocation/6th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "7th", y: 753, indexLabel: "753", name: "/convocation/7th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "8th", y: 743, indexLabel: "743", name: "/convocation/8th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "9th", y: 858, indexLabel: "858", name: "/convocation/9th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "10th", y: 1040, indexLabel: "1040", name: "/convocation/10th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "11th", y: 1537, indexLabel: "1537", name: "/convocation/11th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "12th", y: 2173, indexLabel: "2173", name: "/convocation/12th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "13th", y: 2562, indexLabel: "2562", name: "/convocation/13th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "14th", y: 2730, indexLabel: "2730", name: "/convocation/14th-convocation/", indexLabelOrientation: "horizontal" },
                { label: "15th", y: 2755, indexLabel: "2755", name: "/15th-convocation-notices-and-schedule-updated-on-january-25-2015/", indexLabelOrientation: "horizontal", indexLabelFontWeight: "normal" },
                { label: "16th", y: 2517, indexLabel: "2517", name: "/convocation/16th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
                { label: "17th", y: 2960, indexLabel: "2960", name: "/convocation/17th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight:"normal" },
				 { label: "18th", y: 2674, indexLabel: "2674", name: "/convocation/18th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight: "normal" },
				 { label: "19th", y: 4504, indexLabel: "4504", name: "/convocation/19th-convocation/", indexLabelOrientation: "horizontal", indexLabelFontWeight: "normal" }
                ]
            }]
        });
         chart.render();
       }
</script>
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=about/general-information&text=AIUB-General Information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=about/general-information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=about/general-information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=about/general-information&title=General Information&source=about/general-information" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=about/general-information&media=&description=General Information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=General Information-AIUB&amp;body=Check out this about/general-information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>

{% endblock %}