{% extends "base.html" %}
    
    
{% block page_content %}

   <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                        <li><a href="about" rel="category tag">About Us</a></li>
                        <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">Information</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-right">
            <div class="panel panel-default">
<div class="panel-body">
<h4>Overview of American International University-Bangladesh (AIUB)</h4>

<p>American International University - Bangladesh (AIUB) is a government approved private university founded in 1994 by Dr. Anwarul Abedin. The university is an independent organization with its own Board of Trustees.</p>

<h4>Vision</h4>

<blockquote>
<p>AMERICAN INTERNATIONAL UNIVERSITY-BANGLADESH (AIUB) envisions promoting professionals and excellent leadership catering to the technological progress and development needs of the country.</p>
</blockquote>

<h4>Mission</h4>

<blockquote>
<p>AMERICAN INTERNATIONAL UNIVERSITY-BANGLADESH (AIUB) is committed to provide quality and excellent computer-based academic programs responsive to the emerging challenges of the time. It is dedicated to nurture and produce competent world class professional imbued with strong sense of ethical values ready to face the competitive world of arts, business, science, social science and technology.</p>
</blockquote>

<h4>Quality Policy</h4>

<blockquote class="blockquote-reverse">
<p>&ldquo;Quality shall be adhered to in conformity with the prescribed national and international standards of quality and excellence including those provided by the professional bodies and organizations. The American International University- Bangladesh is committed to translate into actions the programs, projects and activities related to the sustainable delivery of quality management operation system. The students being the valued customers are the central focus of the university shall be provided with utmost care and attention to meet their primordial needs and future career success. In view of this commitment, the university shall exert best efforts to harmonize its action through collaboration, cooperation and consultation with every unit and components of the university.&rdquo;</p>
</blockquote>

<h4>Goals</h4>

<ul>
	<li>Sustain development and progress of the university</li>
	<li>Continue to upgrade educational services and facilities responsive of the demands for change and needs of the society</li>
	<li>Inculcate professional culture among management, faculty and personnel in the attainment of the institution&#39;s vision, mission and goals</li>
	<li>Enhance research consciousness in discovering new dimensions for curriculum development and enrichment</li>
	<li>Implement meaningful and relevant community outreach programs reflective of the available resources and expertise of the university</li>
	<li>Establish strong networking of programs, sharing of resources and expertise with local and international educational institutions and organizations</li>
	<li>Accelerate the participation of alumni, students and professionals in the implementation of educational programs and development of projects designed to expand and improve global academic standards</li>
</ul>

<h4>Linkages and Networking</h4>

<ul>
	<li>Microsoft Security Cooperation Program (SCP)</li>
	<li>Microsoft IT Academy (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>MSDNAA (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>CCNA and IT Essentials in collaboration with CISCO (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>Authorized Sun Education Centre (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>Education Partner of Bangladesh Cricket Board (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>Oracle Academy (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>Certifies Internet Web (CIW) Professional Program (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>CTP Authorized Training Academy (<a href="http://www.cec.aiub.edu" target="_blank">www.cec.aiub.edu</a>)</li>
	<li>The Duke of Edinburgh&#39;s International Award (<a href="http://www.intaward.org" target="_blank">www.intaward.org</a>)</li>
</ul>

<h4>Institutional member:</h4>

<ol>
	<li>Asia Pacific Quality Network (APQN)</li>
	<li>International Association of Universities (IAU)</li>
	<li>International Association of University Presidents (IAUP)</li>
	<li>American Association of University Administrators (AAUA)</li>
	<li>Association of Universities of Asia and Pacific (AUAP - Board Member)</li>
	<li>Global University Network for Innovation (GUNI)</li>
	<li>Association of Management Development In South Asia (AMDISA)</li>
</ol>

<h4>Member:</h4>

<ol>
	<li>American Chamber of Commerce in Bangladesh (AmCham)</li>
	<li>Association of Management Development Institutions of Bangladesh (AMDIB)</li>
</ol>

<h4>Score Recipient: CODE 7067:</h4>

<ol>
	<li>Test of English as a Foreign Language (TOEFL)</li>
	<li>Graduate Management Admission Test (GMAT)</li>
</ol>

<p>AIUB ranked as an International University by UNESCO which is published by UNESCO in the International University Handbook, 2006 edition.</p>
</div>
</div>

            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=about/information&text=AIUB-Information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=about/information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=about/information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=about/information&title=Information&source=about/information" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=about/information&media=&description=Information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=Information-AIUB&amp;body=Check out this about/information" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>



{% endblock %}