{% extends "base.html" %}
    
    
{% block page_content %}

  <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                        <li><a href="offices" rel="category tag">Offices</a></li>
                        <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">Office of the Registrar</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-right">
            <h3>Pius Costa</h3>

<p><em>Registrar</em></p>

<p><a href="mailto:piuscosta@aiub.edu">piuscosta@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-115</p>

<p>&nbsp;</p>

<h3>Md. Khurshed Alam</h3>

<p><em>Additional Registrar &amp;</em></p>

<p><em>Additional Controller of Examinations</em></p>

<p>Email: <a href="mailto:Khurshed@aiub.edu">Khurshed@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-119</p>

<p>&nbsp;</p>

<h3>Asif Parvez</h3>

<p><em>Deputy Registrar &amp;</em></p>

<p><em>Associate Professor, FBA</em></p>

<p>Email: <a href="mailto:asif@aiub.edu">asif@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-125</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>Md. Tawhidul Islam</h3>

<p><em>Assistant Director</em></p>

<p>Email: <a href="mailto:tawhidul@aiub.edu">tawhidul@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-137</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +8801844115005</p>

<p>&nbsp;</p>

<h3>Mohammad Zakir Hossain Rasell</h3>

<p><em>Senior Executive</em></p>

<p>Office of Records</p>

<p>Email: <a href="mailto:rasel@aiub.edu">rasel@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-235</p>

<p>&nbsp;</p>

<h3>Md. Amit Hasan</h3>

<p><em>Junior Executive</em></p>

<p>Office of Records</p>

<p>Email: <a href="mailto:amit.hasan@aiub.edu">amit.hasan@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-326</p>

<p>&nbsp;</p>

<h3>Gouri Rani Mitra</h3>

<p><em>Junior Executive</em></p>

<p>Office of Guidance Council</p>

<p>Email: <a href="mailto:mitra@aiub.edu">mitra@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-236</p>

<p>+8801844515901</p>

<p>&nbsp;</p>

<h3>Nahin Sunehra</h3>

<p><em>Junior Executive</em></p>

<p>Office of Guidance Council</p>

<p>Email: <a href="mailto:nahins@aiub.edu">nahins@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-249</p>

<p>&nbsp;+8801844515901</p>

<p>&nbsp;</p>

<h3>Rubana Towhida Newaz</h3>

<p><em>Senior Executive</em></p>

<p>Admission Department</p>

<p>Email: <a href="mailto:rubana@aiub.edu">rubana@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-205</p>

<p>+8801844515900</p>

<p>&nbsp;</p>

<h3>Rajwana Chowdhury</h3>

<p><em>Junior Executive</em></p>

<p>Admission Department</p>

<p>Email: <a href="mailto:rchowdhury@aiub.edu">rchowdhury@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-205</p>

<p>+8801844515900</p>

<p>&nbsp;</p>

<h3>Md. Ashfak Ul Islam Chowdhury</h3>

<p><em>Junior Executive</em></p>

<p>Admission Department</p>

<p>Email: <a href="mailto:ashfak@aiub.edu">ashfak@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-205</p>

<p>+8801844515900</p>

<p>&nbsp;</p>

<h3>Shanta Islam</h3>

<p><em>Junior Executive</em></p>

<p>Admission Department</p>

<p>Email: <a href="mailto:shanta@aiub.edu">shanta@aiub.edu</a></p>

<p>Phone: +88028414046-50 Ex-205</p>

<p>+8801844515900</p>

            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=offices/or&text=AIUB-Office of the Registrar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=offices/or" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=offices/or" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=offices/or&title=Office of the Registrar&source=offices/or" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=offices/or&media=&description=Office of the Registrar" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=Office of the Registrar-AIUB&amp;body=Check out this offices/or" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                        </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>

{% endblock %}