
{% extends "base.html" %}
    
    
{% block page_content %}

  <div class="container">
    <div id="page-header">
        <div class="row">
            <div class="col-sm-3">
                <ul id="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="separator"> / </li>
                </ul>
            </div>
            <div class="col-sm-9 text-center"><h1 class="header-title">Rules of Entry to the AIUB Campus premise</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 pull-right">
            <div class="panel panel-default">
                <div id="single" class="panel-body text-justify">

                        <time class="date_badge pull-right" datetime="5/20/2018">
                            <span>Sunday</span> <span class="day">20</span>
                            <span class="month">May</span>
                            <span class="year">2018</span>
                        </time>
                    <ol>
	<li>NO ID; NO ENTRY policy is strictly applicable for the Students and Employees of the university.</li>
	<li>Students and Employees must wear and display their ID at all times inside the campus.</li>
	<li>Student ID at the automated flap/ swing doors is only granted for VALID registered student of the current semester.</li>
	<li>Unregistered/ INVALID students or alumni carrying Student ID must use the entry in front of the Registrar&rsquo;s office and identify their current status at the validation kiosk. They will be directed to the respective concerned offices based on their current status.</li>
	<li>Every individual regardless of student/ faculty members/ alumni, entering through the entry in front of Registrar&rsquo;s office must tap their ID at the validation kiosk.</li>
	<li>In case the ID of a valid registered student or an employee is not functional, they must be verified at the entry point in front of Registrar&rsquo;s office. After verification, they may proceed to the VUES Office to solve their ID problem as per university policy.</li>
	<li>Visitors or Guardians are allowed to enter the campus only for valid and verified reasons. They must submit a valid Photo ID and collect official &lsquo;Visitor ID&rsquo;. The &lsquo;Visitor ID&rsquo; must be displayed at all times during their stay in the campus. Visitor ID Must be returned and deposited Photo ID must be collected at the end of the visit while leaving the campus premise.</li>
	<li>Visitors of an Employee or Guardians willing to meet faculty members or officials, will be allowed to enter only if their visit is confirmed and agreed by the person they are willing to meet.</li>
	<li>Gates marked &lsquo;No Entry&rsquo; are strictly used for &lsquo;Exit only&rsquo;; i.e. North Gate of Annex 1, Side gate near the automated flap doors between Annex 2 and 3, collapsible gate between Annex 4 and 5, and Exit gate in front of Registrar office.</li>
	<li>Security personnel may use their master card to open the automated flap doors only for employees in case of malfunctioning ID.</li>
	<li>AIUB reserves all the rights to allow or disallow anyone from entering the premise.</li>
</ol>
<style type="text/css">ol>li{    font-size: 18px;margin-left: -20px;font-family: "open sans",arial,sans-serif;padding:5px;}
</style>

                </div>
                <div class="panel-footer">
                    <div class="row mobile-social-share">
                        <div class="col-md-9">
                            <h3>
&nbsp;Share this content
                            </h3>
                        </div>
                        <div id="socialHolder" class="col-md-3">
                            <div id="socialShare" class="btn-group share-group">
                                <a data-toggle="dropdown" class="btn btn-info">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                                <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" class="btn btn-twitter" data-placement="left" href="http://twitter.com/intent/tweet?url=rules-of-entry-to-the-aiub-campus-premise&text=AIUB-Rules of Entry to the AIUB Campus premise" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            t
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" class="btn btn-facebook" data-placement="left" href="http://www.facebook.com/sharer/sharer.php?u=rules-of-entry-to-the-aiub-campus-premise" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            f
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" class="btn btn-google" data-placement="left" href="https://plus.google.com/share?url=rules-of-entry-to-the-aiub-campus-premise" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            g+
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" class="btn btn-linkedin" data-placement="left" href="http://www.linkedin.com/shareArticle?mini=true&url=rules-of-entry-to-the-aiub-campus-premise&title=Rules of Entry to the AIUB Campus premise&source=rules-of-entry-to-the-aiub-campus-premise" class="btn btn-inverse" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            in
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left" href="https://pinterest.com/pin/create/button/?url=rules-of-entry-to-the-aiub-campus-premise&media=&description=Rules of Entry to the AIUB Campus premise" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            p
                                        </a>
                                    </li>
                                    <!--<li>
                                        <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left" href="mailto:?subject=Rules of Entry to the AIUB Campus premise-AIUB&amp;body=Check out this rules-of-entry-to-the-aiub-campus-premise" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="glyphicon glyphicon-envelope"></span></a>
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            

<div id="sidebar" class="panel panel-default">
    <div class="panel-body">
        <form class="search" action="/search/" method="get">
    <div class="input-group">
        <input name="key" id="key" type="text" class="form-control" placeholder="type your search" value="">
        <span class="input-group-btn">
            <button class="btn btn-theme" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </span>
    </div>
</form>

        <ul class="list-unstyled">
                <li class="widget">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                            <li>
                                <a href="/category/news-events">News &amp; Events</a>
                            </li>
                            <li>
                                <a href="/category/notices">Notices</a>
                            </li>
                            <li>
                                <a href="/category/top-news">Top News</a>
                            </li>
                            <li>
                                <a href="/category/uncategorized">Uncategorized</a>
                            </li>
                            <li>
                                <a href="/category/courses">Courses</a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</div>

        </div>
    </div>
</div>
    </div>
  

{% endblock %}